#mainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainSection > ol {
    width: 80%;
    padding: 20px;
}

#mainSection > ol > li {
    font-size: 1.3em;
    line-height: 200%;
}

#returnHome {
    color: white;
    font-size: 1.3em;
    margin-bottom: 10px;
}