main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainSection {
    width: 70%;
    font-size: 1.2em;
}

#mainSection > ol > li {
    margin: 20px;
}

#mainSection ol > ul > li {
    margin: 10px;
}

main > a {
    color: white;
    margin-bottom: 20px;
}