main {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

.mainContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

.container {
    text-align: center;
}

.box {
    text-align: left;
    height: 80%;
    border-radius: 30px;
    padding: 20px;
    border: var(--border);
}

.box img {
    max-width: 90%;
}

#illustration {
    display: flex;
    justify-content: center;
    align-items: center;
}

#medBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .mainContainer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    main {
        height: fit-content;
        padding-bottom: 50px;
    }
}